@import "/styles/variables.scss";

.container {
  padding: 10px 16px;
  height: 56px;
  width: 244px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-default;

  p {
    color: #fff;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    padding: 0;
    margin: 0;
  }
}
